@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


.flex-container {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-center {
  justify-self: center;
  align-items: center;
}

body {
  background-color: #F3F3F3;
}

login-text {
  color: #8c9ea3;
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  height: 98%;
}

section.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.login p, a  {
  font-family: Nunito, sans-serif;
  font-size: x-large;
  text-align: center;
}

section.login a {
  font-size: large;
  text-align: center;
  text-decoration: none;
  color: blue;
}